/* MODAL BODY TOP SECTION */

.body-top {
  display: flex;
  justify-content: center;

}

.sprite-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 650px;
  max-height: 200px;
  border-radius: 10px;
  overflow: hidden;
  background: #f0f0f0b8;
}

.pixel-art {
  position: absolute;
  z-index: 3;
}

.pokeball {
  z-index: 2;
}
/* END OF MODAL BODY TOP SECTION */

.types-container {
    display: inline-flex;
}

.type {
    font-size: 15px;
    font-weight: bold;
    color: white;
    width: fit-content;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 1px 1px 0px black;
}

.stats-value {
    font-weight: bold;
}

.pokemon-info-container {
  height: fit-content;
}

.info-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.notification {
  border-radius: 5px;
    border: 3px solid black;
    box-shadow: 2px 2px 0px black;
    width: 90%;
    margin: 0 auto;
}
