.body-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.pokemon-stand {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  position: relative;
  z-index: 0;
  margin: auto 15px;
}

.pixel-art {
  z-index: 2;
}

.pokemon-shadow {
  position: absolute;
  width: 80px;
  height: 10px;
  bottom: 30px;
  border-radius: 100%;
  box-shadow: 1px 1px 15px 5px rgba(71, 71, 71, 0.324);
  filter: blur(7px);

  z-index: 2;
  background: #97979750;
}

.stand-shadow {
  position: absolute;
  width: 150px;
  height: 50px;
  bottom: 7px;
  border-radius: 100%;

  z-index: 1;
  background: #f0f0f0b8;
}

.types-container {
    display: flex;
}

.type {
    font-size: 12px;
    font-weight: bold;
    color: white;
    width: fit-content;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 2px 2px 0px black;
}

.stats-value {
    font-weight: bold;
}